
#nebunie-scrisa {
	/*border: 3px inset whitesmoke;*/
	text-align:center;
	/*margin-left:25%;
	margin-right:25%;*/
	margin-top:10%;
	background-color: rgb(220,220,220,0.6);
	}

		body{
	background-image: url(pattern.jpeg);
		}

table {
	width:100%;
	background-color: rgba(220,220,220,0.5);
	

}

h1 {
	width:100%;
	text-align: center;
	font-family:"verdana", "bookman", sans-serif;
	font-size: 30px;
	background-color: rgba(215,215,215,0.5);
	margin:auto;
	margin-bottom: 10px;
	padding:10px;
}

.potato{
	text-decoration: none;
}

.potato:hover{
	color:red;
}
.potato:active , .potato:focus{
	color:black;
}
.potato{
	color:black;
}

#nebunie-scrisa-contact {
	width=100%;
	background-color: rgba(256,256,256,0.8);
	margin: 3px 10px 3px 10px;
}

th {
	width:25%;
}

h2 {
	text-align: center;
	margin-left:20px;
	margin-right:20px;
	background-color: rgba(256,256,256,0.8);
	font-family: "Garamond" ,sans-serif;
	font-size:25px;
}

.download {
  display: block;
  margin-left: auto;
  margin-right: auto ;
  width: 200px;

}

.logo {
	display:block;
	width:200px;
	float:left;
	margin-left:30px;
	margin-top: 10px;
	margin-right:15px;
	margin-bottom: 15px;
}

.download2 {
	margin-top: 20px;
	display: block;
  	width: 100px;
	margin-left: 10px;
}

#info {
	font-size:18px;
	background-color: rgba(255,255,255,0.7);
	
}
